<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Join Us Today!</h3>
    <form method="post" action="/user">
        <input type="password" placeholder="Enter Password" name="password" required />
        <input type="text" placeholder="Enter username" name="username" required />
        <input type="email" placeholder="Enter email" name="email" required />
        <button type="submit">Submit</button>
    </form>
</body>
</html>